@charset "UTF-8";
/* scss */
/*Variables utilizadas en index */
/*Variables utilizadas en toda la página*/
/* Aplicando @mixin */
footer {
  background-color: black;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 5px;
  width: 100%; }
  footer .container__footer {
    display: flex; }
  footer .direccion__footer, footer .email__footer {
    color: gray;
    font-size: 15px;
    font-family: monospace;
    /* Aplicando el @include de mixin */
    display: flex;
    align-items: center;
    padding-right: 20px; }
    footer .direccion__footer p, footer .email__footer p {
      margin-bottom: 0; }
  footer .email__footer {
    /* Aplicando @mixin + @extend */ }
  footer .redes__footer {
    display: flex;
    align-items: center; }

.periscopeo-icon {
  filter: grayscale(80%);
  width: 25px;
  margin: 10px; }

.email-icon {
  filter: grayscale(80%);
  width: 25px;
  margin: 10px; }

.instagram-icon {
  filter: grayscale(80%);
  width: 25px;
  margin: 10px; }

.facebook-icon {
  filter: grayscale(80%);
  width: 25px;
  margin: 10px; }

.whatsapp-icon {
  filter: grayscale(80%);
  width: 25px;
  margin: 10px; }

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header img {
    width: 180px; }

.navbar-collapse {
  flex-grow: 1;
  margin: 25px; }

.navbar {
  padding: 0; }

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw; }

nav .nav__ul {
  display: flex; }

nav ul .nav-item {
  list-style: none;
  padding: 10px; }

nav ul li .nav-link {
  text-decoration: none;
  color: gray; }
  nav ul li .nav-link:hover {
    text-shadow: white; }

.mainGaleria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.containerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr 2fr 2fr;
  gap: 0px 0px;
  grid-template-areas: "img1 img2 img2" "img1 img3 img3" "img4 img4 img5" "img4 img4 img5";
  align-items: center;
  justify-items: center;
  padding: 20px;
  width: 80vw;
  height: 90%; }

.img1 {
  grid-area: img1;
  width: 100%;
  height: 100%; }

.img3 {
  grid-area: img3;
  width: 100%;
  height: 100%; }

.img5 {
  grid-area: img5;
  width: 100%;
  height: 100%; }

.img4 {
  grid-area: img4;
  width: 100%;
  height: 100%; }

.img2 {
  grid-area: img2;
  width: 100%;
  height: 100%; }

.imgDetaling2 {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.imgDetaling1 {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.imgDetaling3 {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.imgDetaling5 {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.imgDetaling4 {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.mainServicios {
  width: 100vw;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px; }

.tabla {
  width: 300px;
  height: 400px;
  margin: 12px;
  border: 3px solid #fefeff;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  text-align: center;
  color: #f0f1f7;
  background-color: gray;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center; }
  .tabla > h2 {
    font-size: 25px;
    margin-bottom: 18px; }
  .tabla img {
    width: 64px;
    margin-bottom: 25px; }
  .tabla > h3 {
    font-size: 22px;
    margin-bottom: 20px; }
  .tabla > h5 {
    font-size: 15px; }
  .tabla > p {
    color: greenyellow;
    font-size: 15px; }
  .tabla:hover {
    background: #343759;
    color: #f1f1f2;
    transition: .5s all;
    transform: scale(1.1);
    cursor: pointer; }

.mainNosotros {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

video {
  width: 100vw; }

.contenedorMain {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 15px;
  margin: 20px;
  border-radius: 45px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contenedorMain h2 {
    color: #e2e2e2;
    text-align: center;
    padding: 10px;
    font-size: 30px; }
  .contenedorMain p {
    color: #e2e2e2;
    text-align: left;
    width: 70%;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    padding-top: 10px; }

/*Variables utilizadas en index */
/*Variables utilizadas en toda la página*/
/* main */
#carouselExampleCaptions {
  padding-top: 20px; }

.boxTeam {
  background-color: black;
  padding: 20px 20px 20px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: 'boxTeamImg' 'boxTeamH1p'; }
  .boxTeam img {
    grid-area: boxTeamImg;
    width: 95%;
    justify-self: center; }
  .boxTeam h1 {
    grid-area: boxTeamH1p;
    padding-top: 25px;
    text-align: center;
    color: white;
    padding-bottom: 20px; }
  .boxTeam p {
    grid-area: boxTeamH1p;
    text-align: justify;
    font-weight: 300;
    color: white; }

/*Variables utilizadas en index */
/*Variables utilizadas en toda la página*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-image: url(./../img/madera_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

/* Media Queries */
@media (min-width: 300px) and (max-width: 468px) {
  .containerGrid {
    grid-template-areas: "img1 img1 img1 img1" "img5 img5 img5 img5" "img2 img2 img2 img2" "img3 img3 img3 img3" "img4 img4 img4 img4"; }
  .bannerMain {
    background-image: url(./../img/bmwold_banner.jpg); }
  .contenedorFooter {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .seccionesFooter h3 {
    font-size: 14px; }
  .seccionesFooter ul li a {
    font-size: 11px; }
  .contactoFooter h3 {
    font-size: 14px; }
  .contactoFooter h5 {
    font-size: 11px; } }

@media (min-width: 468px) and (max-width: 768px) {
  .containerGrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "img1 img1 img5 img5" "img1 img1 img5 img5" "img2 img2 img2 img2" "img3 img3 img3 img3" "img4 img4 img4 img4"; }
  .bannerMain {
    background-image: url(./../img/banner_bmwold1.jpg); }
    .bannerMain h1 {
      padding-top: 10px;
      font-size: 40px; }
  .contenedorFooter {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .seccionesFooter h3 {
    font-size: 12px; }
  .seccionesFooter ul li a {
    font-size: 9px; }
  .nosotrosFooter h3 {
    font-size: 12px; }
  .nosotrosFooter h5 {
    font-size: 9px; }
  .contactoFooter h3 {
    font-size: 12px; }
  .contactoFooter h5 {
    font-size: 9px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .bannerMain h1 {
    padding-top: 100px;
    font-size: 20px; }
  .contenedorFooter {
    display: flex;
    flex-direction: row; }
  .contactoFooter h3 {
    font-size: 18px; }
  .contactoFooter h5 {
    font-size: 13px; }
  .seccionesFooter h3 {
    font-size: 18px; }
  .seccionesFooter ul li a {
    font-size: 13px; }
  .nosotrosFooter h3 {
    font-size: 18px; }
  .nosotrosFooter h5 {
    font-size: 13px; } }

@media only screen and (min-width: 1200px) {
  .bannerMain h1 {
    padding-top: 60px;
    font-size: 50px; }
  .contenedorFooter {
    display: flex;
    flex-direction: row; }
  .contactoFooter h3 {
    font-size: 25px; }
  .contactoFooter h5 {
    font-size: 20px; }
  .seccionesFooter h3 {
    font-size: 25px; }
  .seccionesFooter ul li a {
    font-size: 20px; }
  .nosotrosFooter h3 {
    font-size: 25px; }
  .nosotrosFooter h5 {
    font-size: 20px; } }
