@import "_variables";

/* Aplicando @mixin */
@mixin caracteristicasFooter($tamanioLetraFooter, $colorTextFooter){

	color: $colorTextFooter;
	font-size: $tamanioLetraFooter;
	font-family: monospace;
}

footer {
	background-color: black;
	justify-content: space-between;
	align-items: center;
	display: flex;
	flex-direction: row;
	position: fixed;
	bottom: 5px;
    width: 100%;
	
	.container__footer{
		display: flex;
	}

	.direccion__footer{
		@include caracteristicasFooter(15px, gray );  /* Aplicando el @include de mixin */
		display: flex;
		align-items: center;
		padding-right: 20px;
		p{
			// color: gray
			margin-bottom: 0;
		}
	}	

	.email__footer{   /* Aplicando @mixin + @extend */
		@extend .direccion__footer 
	}

	.redes__footer{
		display: flex;
		align-items: center;
	}
}

@each $icon in periscopeo, email, instagram, facebook, whatsapp {
	.#{$icon}-icon {
		filter: grayscale(80%);
		width: 25px;
		margin: 10px;
	}
} 	