footer {
	background-color: #00000047;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	img {
		filter: grayscale(80%);
		width: 25px;
		margin: 10px;
		&:hover {
			filter: grayscale(0%);
		}
	}
}

.contenedorFooter {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	width: 100%;
	padding: 20px;
}
.contactoFooter {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 33%;
	h3 {
		padding: 20px;
		font-size: 20px;
	}
}
.seccionesFooter {
	width: 33%;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: rgb(226, 226, 226);
	h3 {
		padding: 20px;
		font-size: 20px;
	}
	ul {
		color: rgb(226, 226, 226);
		display: flex;
		flex-direction: column;
		li {
			padding-bottom: 10px;
			list-style: none;
			a {
				text-decoration: none;
				color: rgb(226, 226, 226);
				font-size: 18px;
				&:hover {
					color: rgb(164, 255, 243);
				}
			}
		}
	}
}
.nosotrosFooter {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 33%;
	color: rgb(226, 226, 226);
	font-size: 20px;
	h3 {
		padding: 20px;
		font-size: 20px;
	}
}
.contenedorRedes {
	align-self: flex-end;
}