header {
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;

	img {
		width: 180px;
	}
}
.navbar-collapse {
	flex-grow: 1;
	margin: 25px;
}

.navbar{
	padding: 0;
}
.container-fluid {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
}
nav {
	.nav__ul {
		display: flex;
	}
	ul {
		.nav-item {
			list-style: none;
			padding: 10px;
		}
		li {
			.nav-link {
				text-decoration: none;
				color: gray;
				&:hover {
					text-shadow: white;
				}
			}
		}
	}
}