@import "_variables";

/* main */
#carouselExampleCaptions {
	padding-top: 20px;
}

.boxTeam{
	background-color: $backgroundcolor;
	
		h1{
		text-align: center;
		color: $colortext;
		}

		p {
			text-align: justify;
			font-weight: 300;
			color: $colortext;
		}
}